<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Math To SVG</title>
  <meta name="description" content="Convert AsciiMath strings into beautiful SVGs">
  <meta name="author" content="Zachary Crespin">
  <meta name="color-scheme" content="light dark">
  <meta name="generator" content="{{ eleventy.generator }}">
  <style>
  {% include "./style.css" %}
  </style>
</head>
<body>
  <main>
    <h1>Math To SVG</h1>
    <p>Convert AsciiMath strings into beautiful SVGs</p>
    <div class="mainInput">
      <textarea id="input" placeholder="E = mc^2" spellcheck="false"></textarea>
      <button id="button">Convert</button>
    </div>
    <div id="output"></div>
    <button id="download" hidden>Download</button>
    <p>Created By <a href="https://zacharyc.site" target="_blank">Zachary Crespin</a> on <a href="https://github.com/ZacharyCrespin/math-to-svg" target="_blank">GitHub</a>.</p>
  </main>
  <script>
  {% include "./script.js" %}
  </script>
  <script async src="https://analytics.zacharyc.site/tracker.js" data-ackee-server="https://analytics.zacharyc.site" data-ackee-domain-id="010f26e9-05e1-41f5-86df-c0f7d3cc752e"></script>
</body>
</html>
