@font-face {
  font-family: Inter;
  src: 
    local('Inter'),
    url('fonts/Inter.woff2') format('woff2'),
    url('fonts/Inter.ttf') format('truetype');
}
body {
  margin: 0;
  height: 100vh;
  height: 100dvh;
  text-align: center;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainInput {
  margin: auto;
  max-width: 60ch;
}
.mainInput textarea {
  width: 100%;
  resize: vertical;
  font-family: inherit;
  padding: 0.5rem 1rem;
}
#output {
  padding: 1rem;
}
