:root {
  --white: #fff;
  --black: #000;
}
@media (prefers-color-scheme: dark) {
  :root {
    --white: #111;
    --black: #fff;
  }
}

@font-face {
  font-family: Inter;
  src: 
    local('Inter'),
    url('fonts/Inter.woff2') format('woff2'),
    url('fonts/Inter.ttf') format('truetype');
  font-display: swap;
}

body {
  margin: 0;
  height: 100vh;
  height: 100dvh;
  background-color: var(--white);
  text-align: center;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

button, input, textarea {
  font-family: inherit;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--white);
  border: 1px solid var(--black);
  color: var(--black);
}

button {
  transition: all ease .2s;
}
button:hover {
  cursor: pointer;
  background-color: var(--black);
  color: var(--white);
  transform: scale(1.05);
}

a {
  color: var(--black);
}

.mainInput {
  margin: auto;
  max-width: 60ch;
  width: calc(100% - 2rem);
}

.mainInput textarea {
  width: calc(100% - 2rem);
  resize: vertical;
}

#output {
  padding: 1rem;
}
